<p>Services</p>
@if(gatListTask(); as data){
  <ul>
    @for(item of data; track item){
      <li>{{item.id}} - {{item.title}}</li>
    } @empty {
      <li>Não existe dados</li>
    }
  </ul>
} @else {
  <li>Loading...</li>
}
<h3>Get Item Id</h3>
@if(gatIdTask(); as data){
  <p>Get por Id:
    {{ data.id }} - {{ data.title }}
  </p>
}
<h3>Post create</h3>
<input type="text" #createTitle placeholder="Add Title"/>
<button (click)="httpTaskCreate(createTitle.value)">Create</button>


<h3>Patch update</h3>
<input type="text" #updateId placeholder="Add Id"/>
<input type="text" #updateTitle placeholder="Add Title"/>
<button (click)="httpTaskUpdate(updateId.id ,updateTitle.value)">Update</button>
