<h2>Control flow</h2>
<h3>IF</h3>
<!--

@if (loadingData$ | async; as data){
  <ul>
    @for(item of data; track item){
      <li>{{item}}</li>
    }
  </ul>
} @else { <p>Carregando...</p> }
<ul>

  @for(item of loadingData$ | async; track item){
    <li>{{item}}</li>
  }
</ul>
@for(
  item of itens; track item.name;
  let i = $index;
  let c = $count;
  let f = $first;
  let l = $last;
  let e = $even;
  let o = $odd;
  ) {
    <p>{{ item.name }}</p>

      <p>index no array - {{i}}</p>
      <p>quantos tem dentro - {{c}}</p>
      <p>priemiro do array? - {{f}}</p>
      <p>ultimo do array? - {{l}}</p>
      <p>par? - {{e}}</p>
      <p>impar? - {{o}}</p>

  }
<input #name type="text"/>
<button (click)="addNewName(name.value)">Add name</button>
-->
<ul>
  @for (item of itens; track item.name){
    <li>{{ item.name }}</li>
  } @empty {
    <li>Não contém valores</li>
  }
</ul>

@switch (condition) {
  @case ('A'){
    <p>Sim a letra é A</p>
  }
  @case ('B'){
    <p>Sim a letra é B</p>
  }
  @default {
    <p>Dados não encontrados</p>
  }
}
