<h2>Reactive forms</h2>
<form [formGroup]="profileForm">
  <label>
    Nome:
    <input type="text" formControlName="name"/>
    <p>Value name: {{ profileForm.value.name }}</p>
  </label>

  <div formGroupName="myStacks">
    <label>
      Back:
      <input type="text" formControlName="front"/>
      <p>Value: {{ profileForm.value.myStacks?.front }}</p>
    </label>
    <label>
      Front:
      <input type="text" formControlName="back"/>
      <p>Back: {{ profileForm.value.myStacks?.back }}</p>
    </label>
  </div>

  <button type="button" (click)="update()">Update name</button>


  <hr/>
  <label>
    new Food
    <input #newFood type="text"/>
  </label>
  <button type="button" (click)="addFavoriteFoods(newFood.value)">Add</button>
  <hr/>
  <div formArrayName="myFavoriteFoods">
    @for(food of profileForm.value.myFavoriteFoods; track i; let i = $index){
      <label>
        {{ food }}:
        <input type="text" [formControlName]="i"/>
      </label>
    }
  </div>

</form>
