<p>template-binding works!</p>
<h3>Text Interpolation</h3>
<p>

    {{name}} - {{age}}
</p>
<hr/>
<h2>Property binding</h2>
<!--<element [property]='value'></element>-->
<!--o "[]" faz acessar a classe/parte lógica desse component-->
<button [disabled]="isDisabled">Button</button>
<!--<img [src]="srcValue"/>-->
<hr/>
<!-- <element [attr.attribute-you-are-targeting]='value'></element>-->
<p [attr.aria-label]="name">Nome arrt</p>

<hr/>
<p [class.background-red]="true">{{name}}</p>
<p [style.text-decoration]="isTextDecoration">{{age}}</p>

<!--
  <element
    (TargetEventName)='TemplateStatement'
  ></element>
-->
<button (click)="sum()">+</button>
<button (click)="sub()">-</button>
<input (keydown.shift.t)="onKeyDown($event)">
<div
  style="background-color: red; width: 300px; height: 300px; margin-top: 10px"

  (mousemove)="onMouseEvent($event)"
></div>
<hr/>
<!-- editar do formulario, é reativo então reflete na variavel(name)-->
<input [(ngModel)]="name"/>
{{name}}
<hr/>
<h3>Diretivas de atributos</h3>
<div [ngClass]="{'background-red': age> 20, 'background-blue': age <20}">Classe condicionais</div>
<div [ngStyle]="{
  color: age>20 ? 'green' : 'red'
}">Estilos dinamicos</div>
